@model Video_vm
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/demo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Client/css/style.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body style=" align-items: normal;font-family: Garamond !important">
    <div class="warpper">
        <div class="header">
            <div class="container-header">
                <div class="menu">
                    <div class="click_menu"></div>
                </div>
                <div class="logo"></div>
                <input id="name" placeholder="Tìm Kiếm" type="text" name="name" class="search">
                <button type="button" class="search_Voice"> <i class="fas fa-microphone"></i></button>
                <div class="searchs">
                    <a href="" class="search_sokiuty">
                        <div class="search_sokiuty_img"></div>
                    </a>
                </div>
                <div class="khoangcach"></div>
                <div class="loginUser">
                    @{
                        var user = UserAuthenticated.GetUser(User.Identity.Name);
                        if (User.Identity.IsAuthenticated && user != null)
                        {
                            <div id="completed_Login">
                                <div class="create">
                                </div>
                                <div class="notification"></div>
                                <div class="account_information">
                                    <div class="account_informationss" data-toggle="modal" data-target="#leave_the_check_avarta"><img src="@(user.LoginExternal ? user.Avartar : "/Client/avartar/" + user.Avartar)" alt="Alternate Text" /></div>
                                </div>
                            </div>
                            @* Modal menu logout*@
                            <div class="modal" id="leave_the_check_avarta">
                                <div class="modal-dialog_es">
                                    <div class="modal-content_es">
                                        <div class="modal_check_fier_all">
                                            <div class="modal_check__fier__all">
                                                <div class="avartar_fier_left">
                                                    <img src="@(user.LoginExternal ? user.Avartar : "/Client/avartar/" + user.Avartar)" alt="Alternate Text" />
                                                </div>
                                                <div class="avartar_fier_right">
                                                    <div class="name__avartar_fier_right">@(user.FirtsName + " " + user.LastName)</div>
                                                    <div class="email__avartar_fier_right">@(user.Email)</div>
                                                </div>
                                            </div>
                                            <div class="ke_ngang_fier"></div>
                                            <a href="kenhcuaban.html">
                                                <div class="modal_check_function_fier">
                                                    <div class="modal_check_function_fier_left">
                                                        <div class="khung_function_fier_img">
                                                            <div class="img_kenhdangky"></div>
                                                        </div>
                                                    </div>
                                                    <div class="modal_check_function_fier_right">
                                                        <div class="text_modal_check_function_fier">Kênh của bạn</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="modal_check_function_fier">
                                                <div class="modal_check_function_fier_left">
                                                    <div class="khung_function_fier_img">
                                                        <div class="img_Logout"></div>
                                                    </div>
                                                </div>

                                                <div class="modal_check_function_fier_right">
                                                    <a asp-action="Logout" asp-controller="Home">
                                                        <div class="text_modal_check_function_fier">Đăng xuất</div>
                                                    </a>
                                                </div>


                                            </div>
                                            <div class="ke_ngang_fier"></div>
                                            <div class="modal_check_function_fier">
                                                <div class="modal_check_function_fier_left">
                                                    <div class="khung_function_fier_img">
                                                        <div class="img_kenhdangky"></div>
                                                    </div>
                                                </div>
                                                <div class="modal_check_function_fier_right">
                                                    <div class="text_modal_check_function_fier">Giao diện: Giao diện ...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div id="no_Login" class="list_dangnhap_header" data-toggle="modal" data-target="#leave_the_room">
                                <a asp-action="Login" asp-controller="Home">
                                    <div class="list_dangnhap_left">
                                        <div class="img_list_dangnhap"></div>
                                    </div>
                                    <div class="list_dangnhap_right">ĐĂNG NHẬP</div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="row all_nav_menus_as">
            <div class="all_nav_menus">
                <nav class="col strong_headers">
                    <li class="sidebar-focus sidebar-item-first sidebar-menu sider_tops">
                        <a asp-action="Index" asp-controller="Home">
                            <div class="row">
                                <img class="icon-sidebar-item" alt="" src="~/Client/img/home_mau.png">
                                <span class="active-sidebar-item">Trang chủ</span>
                            </div>
                        </a>
                    </li>
                    <li class="text-white sidebar-item sidebar-menu">
                        <a asp-action="Popular" asp-controller="Home">
                            <div class="row">
                                <img class="icon-sidebar-item" alt="" src="~/Client/img/explore.png">
                                <span class="text-sidebar-item">Khám phá</span>
                            </div>
                        </a>
                    </li>
                    <li class="text-white sidebar-item sidebar-menu">
                        <a href="">
                            <div class="row">
                                <img class="icon-sidebar-item" alt="" src="~/Client/img/youtube_danky.png">
                                <span class="text-sidebar-item">Kênh đăng ký</span>
                            </div>
                        </a>
                    </li>
                    <li class="text-white sidebar-item sidebar-menu sider_colors" style="height: 0px;">
                        <div style="background-color: #0C386A; height:1px"></div>
                    </li>
                    <li class="text-white sidebar-item sidebar-menu">
                        <a href="">
                            <div class="row">
                                <img class="icon-sidebar-item" alt="" src="~/Client/img/youtube_thuvien.png">
                                <span class="text-sidebar-item">Thư viện</span>
                            </div>
                        </a>
                    </li>
                    <li class="text-white sidebar-item sidebar-menu">
                        <a href="">
                            <div class="row">
                                <img class="icon-sidebar-item" alt="" src="~/Client/img/future.png">
                                <span class="text-sidebar-item">Video đã xem</span>
                            </div>
                        </a>
                    </li>
                    <li class="text-white sidebar-item sidebar-menu">
                        <a href="">
                            <div class="row">
                                <img class="icon-sidebar-item" alt="" src="~/Client/img/youtube_videocuaban.png">
                                <span class="text-sidebar-item">Video của bạn</span>
                            </div>
                        </a>
                    </li>
                    <li class="text-white sidebar-item sidebar-menu">
                        <a href="">
                            <div class="row">
                                <img class="icon-sidebar-item" alt="" src="~/Client/img/clock.png">
                                <span class="text-sidebar-item">Xem sau</span>
                            </div>
                        </a>
                    </li>
                    <li class="text-white sidebar-item sidebar-menu">
                        <a asp-action="FavoritedVideo" asp-controller="Home">
                            <div class="row">
                                <img class="icon-sidebar-item" alt="" src="~/Client/img/like.png">
                                <span class="text-sidebar-item">Video đã thích</span>
                            </div>
                        </a>
                    </li>
                    <li class="text-white sidebar-item sidebar-menu sider_colors" style="height: 0px;">
                        <div style="background-color: #0C386A; height:1px"></div>
                    </li>
                    <div class="hearer_container_text">Kênh Đăng Ký</div>
                    <div class="xohangall">
                        <li class="text-white sidebar-item sidebar-menu fix_texts_count">
                            <a href="">
                                <div class="row">
                                    <img class="icon-sidebar-item" alt="" src="~/Client/img/avatar.svg">
                                    <span class="text-sidebar-item fix_texts">Phim hay</span>
                                </div>
                            </a>
                        </li>
                        <li class="text-white sidebar-item sidebar-menu fix_texts_count">
                            <a href="">
                                <div class="row">
                                    <img class="icon-sidebar-item" alt="" src="~/Client/img/imgs.svg">
                                    <span class="text-sidebar-item fix_texts">Khoa pug</span>
                                </div>
                            </a>
                        </li>
                        <li class="text-white sidebar-item sidebar-menu fix_texts_count">
                            <a href="">
                                <div class="row">
                                    <img class="icon-sidebar-item" alt="" src="~/Client/img/avatar.svg">
                                    <span class="text-sidebar-item fix_texts">Nhật Phạm</span>
                                </div>
                            </a>
                        </li>
                        <li class="text-white sidebar-item sidebar-menu fix_texts_count">
                            <a href="">
                                <div class="row">
                                    <img class="icon-sidebar-item" alt="" src="~/Client/img/imgs.svg">
                                    <span class="text-sidebar-item fix_texts">Khoa pug</span>
                                </div>
                            </a>
                        </li>
                        <li class="text-white sidebar-item sidebar-menu fix_texts_count">
                            <a href="">
                                <div class="row">
                                    <img class="icon-sidebar-item" alt="" src="~/Client/img/avatar.svg">
                                    <span class="text-sidebar-item fix_texts">Nhật Phạm</span>
                                </div>
                            </a>
                        </li>
                    </div>
                    <div class="collapses">
                        Xem thêm
                    </div>

                </nav>
            </div>
            <div class="col site-layout dong">

            </div>
        </div>
        <div class="aa">
            <div class="contentes">
                <div class="content_all">
                    <div class="content_left">
                        <div class="contents_video">
                            <video controls playsinline
                                   id="player">

                                <source src="~/Client/video/@Model.LinkVideo"
                                        type="video/mp4"
                                        size="576" />
                            </video>
                        </div>
                        <div class="all_content_texts">
                            <div class="header_content_video">@Model.Name</div>
                            <div class="funtion_contnet">
                                <div class="funtion_contnet_left">
                                    <div class="view_content">@Model.ViewCount.ToString("#,##0") lượt xem . @Model.CreateDate.Split(' ')[0]</div>
                                </div>
                                <div class="funtion_contnet_right">
                                    <div class="like_shares">
                                        <a href="" class="unlike acount_share" style="border-bottom: none;">
                                            <img class="icon-sidebar-item_content" alt="" src="~/Client/img/share.png">
                                            <span class="text-sidebar-item_content">CHIA SẺ</span>
                                        </a>
                                        <a href="" class="unlike" style="border-bottom: none;">
                                            <img style=" width: 24px; margin-top: 2px; " class="icon-sidebar-item_content" alt="" src="~/Client/img/dislike_comment.png">
                                            <span class="text-sidebar-item_content">@Model.DisLike</span>
                                        </a>
                                        <a href="" class="unlike" style="border-bottom: none;">
                                            <img class="icon-sidebar-item_content" alt="" src="~/Client/img/like.png">
                                            <span class="text-sidebar-item_content">@Model.Like</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="cut"></div>
                            </div>
                        </div>
                        <div class="all_content_texts">
                            <div class="funtion_contnets">
                                <div class="funtion_contnets_left">
                                    <div class="detail_video">
                                        <img class="details_lerft icon-sidebar-items_video" alt="" src="@(Model.LoginExternal?Model.Avartar:"~/Client/img/"+Model.Avartar)">
                                        <span class="details_right text-sidebar-items_video">@Model.FirtsName @Model.LastName</span>
                                    </div>
                                </div>
                                <div class="funtion_contnets_right">
                                    <button class="registration">Đăng ký</button>
                                </div>
                            </div>
                            <div class="funtions_comment">
                                @Model.Description
                            </div>
                            <div class="funtions_hien">
                                @(Model.Description==null?"": "HIỂN THỊ THÊM")
                            </div>
                            <div class="cut"></div>
                            <div class="count_comment">@ViewBag.Comment.Count Bình luận</div>
                            <div class="all_counts_comment">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="all_counts_comment_left">
                                        <div class="customs_imgs_comment">
                                            <img class="details_lerfts icon-sidebar-items_video" alt="" src="@(ViewBag.UserLogin.LoginExternal?ViewBag.UserLogin.Avartar:"~/Client/img/"+ViewBag.UserLogin.Avartar)">
                                        </div>
                                    </div>
                                    <div class="all_counts_comment_right">
                                        <input id="Content" onfocus="displayButton()" type="text" class="check_comments" placeholder="Bình Luận" required>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <input type="hidden" id="UserId" value="@(ViewBag.UserLogin.Id)" />
                                        }
                                        <input type="hidden" id="CommentId" value="0" />
                                        <input type="hidden" id="VideoId" value="@Model.Id" />
                                        <div class="text__comment_right">
                                            <button class="check_cancel">Hủy</button>
                                            <button class="check_comment" onclick="comment(false,' ','')">Bình luận</button>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="all_counts_comment_left">
                                        <div class="customs_imgs_comment">
                                            <img class="details_lerfts icon-sidebar-items_video" alt="" src="/Client/img/profile-user1.png">
                                        </div>
                                    </div>
                                    <div class="all_counts_comment_right">
                                        <a asp-action="Login" class="hover" asp-controller="Home">
                                            <input type="text" class="check_comments hover" placeholder="Bình Luận" required>
                                        </a>
                                    </div>
                                }


                            </div>
                            @*//Phần comment*@
                            @foreach (var item in ViewBag.Comment)
                            {

                                if (item.CommentId == 0)
                                {
                                    <div class="noidung_comment" id="hello_coment">
                                        <div class="all_counts_comment_left">
                                            <div class="customs_imgs_comment">
                                                <img class="details_lerfts icon-sidebar-items_video" alt="" src="@(item.LoginExternal?item.Avartar:"~/Client/img/"+item.Avartar)">
                                            </div>
                                        </div>
                                        <div class="all_counts_comment_right">
                                            <div class="khung_hang_1">
                                                <div class="ten_tac_gia">@item.FirtsName @item.LastName</div>
                                                <div class="thoi_gian_binh_luan">@CaculatorHours.Caculator(item.CreateDate)</div>
                                            </div>
                                            <div class="khung_hang_2">

                                                <div class="noi_dung_binh_luan">
                                                    @item.Content
                                                </div>
                                            </div>
                                            <div class="khung_hang_3">
                                                <div class="like_binh_luan"></div>
                                                <div class="so_luong_like">@item.Like</div>
                                                <div class="disklike_binh_luan"></div>
                                                <div class="so_luong_disklike">@item.DisLike</div>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <div class="phan_hoi_binh_luan hover" onclick="oke(@item.Id, true,' ')">Phản hồi</div>
                                                }
                                                else
                                                {
                                                    <a asp-action="Login" class="reply hover" asp-controller="Home"><div class="phan_hoi_binh_luan">Phản hồi</div></a>
                                                }
                                            </div>
                                            <div id="displayChild" class="all_counts_comment_rep-@item.Id" style="display: none;">
                                                <div class="all_counts_comment_rep_left">
                                                    <div class="customs_imgs_rep_comment">
                                                        @if (User.Identity.IsAuthenticated)
                                                        {
                                                            <img class="details_lerfts icon-sidebar-items_video" alt="" src="@(ViewBag.UserLogin.LoginExternal?ViewBag.UserLogin.Avartar:"~/Client/img/"+ViewBag.UserLogin.Avartar)">
                                                        }
                                                    </div>
                                                </div><div class="all_counts_comment_rep_right">
                                                    <input type="text" class="check_comments  Content-@item.Id" placeholder="Bình Luận" autofocus>
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <input type="hidden" class="UserId-@item.Id" value="@(ViewBag.UserLogin.Id)" />
                                                    }
                                                    <input type="hidden" class="CommentId-@item.Id" value="@item.Id" />
                                                    <input type="hidden" class="VideoId-@item.Id" value="@Model.Id" />
                                                    <div class="text__comment_rep_right">
                                                        <button class="check_cancel" onclick="oke(@item.Id, false,' ')">Hủy</button>
                                                        <button class="check_comment" onclick="comment(true,@item.Id,'childOne')">Phản hồi</button>
                                                    </div>
                                                </div>
                                            </div>
                                            @foreach (var child in ViewBag.Comment)
                                            {
                                                if (child.CommentId == item.Id)
                                                {
                                                    <div class="noidung_comment" id="hello_coments">
                                                        <div class="all_counts_comment_left">
                                                            <div class="customs_imgs_comment">
                                                                <img class="details_lerfts icon-sidebar-items_video" alt="" src="@(child.LoginExternal?child.Avartar:"~/Client/img/"+child.Avartar)">
                                                            </div>
                                                        </div>
                                                        <div class="all_counts_comment_right">
                                                            <div class="khung_hang_1">
                                                                <div class="ten_tac_gia TacGia-@child.Id">@child.FirtsName @child.LastName</div>
                                                                <div class="thoi_gian_binh_luan">@CaculatorHours.Caculator(child.CreateDate)</div>
                                                            </div>
                                                            <div class="khung_hang_2">

                                                                <div class="noi_dung_binh_luan">
                                                                    <label  style="background:#cac9c9;">@(child.ReplyFor!="childOne"?child.ReplyFor:"")</label> @child.Content
                                                                </div>
                                                            </div>

                                                            <div class="khung_hang_3">
                                                                <div class="like_binh_luan"></div>
                                                                <div class="so_luong_like">@child.Like</div>
                                                                <div class="disklike_binh_luan"></div>
                                                                <div class="so_luong_disklike">@child.DisLike</div>
                                                                @if (User.Identity.IsAuthenticated)
                                                                {
                                                                    <div class="phan_hoi_binh_luan hover" onclick="oke(@child.Id, true,'child')">Phản hồi</div>
                                                                }
                                                                else
                                                                {
                                                                    <a asp-action="Login" class="reply hover" asp-controller="Home"><div class="phan_hoi_binh_luan">Phản hồi</div></a>
                                                                }
                                                            </div>
                                                            <div class="all_counts_comment_rep-@child.Id" style="display: none;">
                                                                <div class="all_counts_comment_rep_left">
                                                                    <div class="customs_imgs_rep_comment">
                                                                        @if (User.Identity.IsAuthenticated)
                                                                        {
                                                                            <img class="details_lerfts icon-sidebar-items_video" alt="" src="@(ViewBag.UserLogin.LoginExternal ? ViewBag.UserLogin.Avartar : "~/Client/img/" + ViewBag.UserLogin.Avartar)">
                                                                        }
                                                                        </div>
                                                                </div><div class="all_counts_comment_rep_right">
                                                                    <div class="floatContainer-@child.Id">
                                                                        <label class="lable label-@child.Id" for="contents"></label>
                                                                        <input id="contents" onblur="showFrameBlur(@child.Id)" onfocus="showFrameActive(@child.Id)" type="text" class="check_comments check_comments_child Content-@child.Id" autofocus>
                                                                        @if (User.Identity.IsAuthenticated)
                                                                        {
                                                                            <input type="hidden" class="UserId-@child.Id" value="@(ViewBag.UserLogin.Id)" />
                                                                        }
                                                                        <input type="hidden" class="CommentId-@child.Id" value="@item.Id" />

                                                                        <input type="hidden" class="VideoId-@child.Id" value="@Model.Id" />
                                                                    </div>

                                                                    <div class="text__comment_rep_right">
                                                                        <button class="check_cancel" onclick="oke(@child.Id, false,' ')">Hủy</button>
                                                                        <button class="check_comment" onclick="comment(true,@child.Id,'childTwo')">Phản hồi</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            }

                                        </div>
                                    </div>
                                }

                            }

                        </div>
                    </div>
                    <div class="content_right">
                        @foreach (var item in ViewBag.VideoRelated)
                        {
                            <a asp-action="DetailVideo" asp-route-id="@item.Id">
                                <div class="content_right_all">
                                    <div class="content_right_all_left">
                                        <video width="261" height="95" src="~/Client/video/@item.LinkVideo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></video>
                                    </div>
                                    <div class="content_right_all_right">
                                        <div class="content_right_text_video">@item.Name</div>
                                        <div class="content_right_texts_video">@item.FirtsName @item.LastName</div>
                                        <div class="content_right_textss_video">@item.ViewCount.ToString("#,##0") lượt xem • @CaculatorHours.Caculator(item.CreateDate)</div>

                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Client/js/site.js"></script>
    <script>
        function displayButton() {
            $(".text__comment_right").css('display', 'block');
        }
    </script>
    <script src="https://cdn.plyr.io/3.6.2/demo.js" crossorigin="anonymous"></script>
</body>
</html>