@model DoanData.Models.AppUser

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    int dem = 0;
}
<style>
    .login-card-footer-text{
        margin-bottom:0px !important;
    }
    .card-body{
        text-align:center;
    }
    .sbFacebook{
        margin-top:12px;
    }
    .form-group {
        max-width: none !important;
    }
    #ForgotPassword {
        color: #938b8c;

    }
    #ForgotPassword:hover {
        color: dodgerblue;
        cursor:pointer;
    }
    .provider{
        width:520px !important;
        margin-top:3%;
    }

  
</style>
<div class="card-body">
    <div class="brand-wrapper">
        <div class="logo"></div>
    </div>
    <p class="login-card-description">Đăng nhập vào tài khoản của bạn</p>
    <form id="formLogin"  method="post" asp-action="Login">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <br />
        <div class="form-group">
            <label asp-for="Email" class="sr-only">Email</label>
            <input required type="email" asp-for="Email" id="email" class="form-control" placeholder="Email address"  style="width:100%;">
        </div>
        <div class="form-group mb-4">
            <label asp-for="PasswordHash" class="sr-only">Password</label>
            <input type="password" required asp-for="PasswordHash" id="password" class="form-control" placeholder="Password" style="width:100%;">
        </div>
        <input  name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Đăng nhập">
    </form>
    <a id="ForgotPassword" class="forgot-password-link">Quên mật khẩu?</a>
    <p style="color:#4f7afe;" class="login-card-footer-text">Chưa có tài khoản? <a asp-action="Register" class="text-reset">Đăng ký tại đây </a></p><hr />
    <h6 style="text-align:center">Hoặc</h6>
    <form id="external-account" asp-action="ExternalLogin" method="post" class="form-horizontal">
        <div>
            <p>
                @foreach (var provider in ViewBag.ExternaLogin)
                {
                    if (dem == 0)
                    {
                        <button onclick="imgLoading()" type="submit" class="btn btn-primary provider sbFacebook" name="provider" 
                                value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook"></i> @provider.DisplayName</button>
                    }
                    else
                    {
                        <button onclick="imgLoading()" type="submit" class="btn btn-danger provider" name="provider" 
                                value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-google"></i>  @provider.DisplayName</button>
                    }
                    dem++;
                }
            </p>
        </div>
    </form>
</div>
@section Scripts {
  
<script>
   
    $("#ForgotPassword").click(function() {
        OpenPopUp("Quên mật khẩu", "/Home/ForgotPassword");
    });
    $("#formLogin").submit(function () {
        if ($("#email").val() != '' && $("#password").val() != '') {
            imgLoading();
            return;
        }
        
    });
</script>
}