@model IPagedList<Video_vm>
@using X.PagedList; 

<div class="site-layout">
    <div class="site-layout_centent ">
        <div class="text_popular">Video thịnh hành</div>
        @foreach (var item in Model)
        {
            <a asp-action="DetailVideo" asp-controller="Home" asp-route-id="@item.Id">
                <div class="popular_left">
                    <video onmouseover="viewBefore(@item.Id)" onmouseout="clearBefore(@item.Id)" class=" nextSecond nextSecond-@item.Id"
                           data-poster="@item.PosterImg" id="player">
                        <source src="~/Client/video/@item.LinkVideo" type="video/mp4" size="576" >
                    </video>
                </div>
                <div class="popular_right">
                    <div class="header__popular">@item.Name</div>
                    <div class="all_papge">
                        <div class="ten_kenh">@item.FirtsName @item.LastName .</div>
                        <div class="luot_xem">
                           @ConvertViewCount.ConvertView(item.ViewCount) lượt xem
                        </div>
                        <div class="dau_cham_cach">.</div>
                        <div class="thoi_gian_cong_chieu">@CaculatorHours.Caculator(item.CreateDate)</div>
                    </div>
                    <div class="mota_noidung_video">@item.Description</div>
                </div>
            </a>
        }
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var currentPage = 2;

            $('.site-layout').on('scroll', function () {
                let div = $(this).get(0);
                if (div.scrollTop + div.clientHeight >= div.scrollHeight) {
                    loadData();
                    currentPage += 1;
                }
            });
            function loadData() {
                $.get("/Home/Popular_Partial/?page=" + currentPage, function (respone) {
                    $('.site-layout_centent').append(respone);
                    loadSecondVideo();
                });
            }
        });
    </script>

}