@model IPagedList<Video_vm>
@using X.PagedList;
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="parent">
        <a  asp-action="DetailVideo" asp-controller="Home" asp-route-id="@item.Id">
            <div class="popular_left">
                <video width="261" height="165" onmouseover="viewBefore(@item.Id)" onmouseout="clearBefore(@item.Id)" class=" nextSecond nextSecond-@item.Id"
                       data-poster="@item.PosterImg" id="player">
                    <source src="~/Client/video/@item.LinkVideo" type="video/mp4" size="576">
                </video>
                <span class="time__duration time__duration2"></span>
            </div>
            <div class="popular_right">
                <div class="header__popular">
                    @item.Name

                </div>
                <div class="all_papge">
                    <div class="ten_kenh">@item.FirtsName @item.LastName .</div>
                    <div class="luot_xem">
                        @ConvertViewCount.ConvertView(item.ViewCount) lượt xem
                    </div>
                    <div class="dau_cham_cach">.</div>
                    <div class="thoi_gian_cong_chieu">@CaculatorHours.Caculator(item.CreateDate)</div>
                </div>
                <div class="mota_noidung_video">@item.Description</div>
            </div>
        </a>
        <img id="addplaylist-@item.Id" onclick="addPlayList(@item.Id)" class="icon-more hover add_playlist" src="/Client/img/more.png" alt="Alternate Text" />
        <div class="playlist_option playlist-@item.Id">
            <div class="option_playlist hover into_playlist-@item.Id" onclick="showPlayList(@item.Id)">
                <i class="fa fa-list-alt"></i> Thêm vào danh sách phát
            </div>
            <div class="option_playlist hover report_video" onclick="reportVideo(@item.Id)">
                <i class="fa fa-flag"></i> Báo cáo vi phạm
            </div>
        </div>
    </div>


}
