@{
    var user = UserAuthenticated.GetUser(User.Identity.Name);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Client/fonts/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="~/css/alert_css.css" rel="stylesheet" />
    <link href="~/css/toastifier.min.css" rel="stylesheet" />
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/Administration/assets/charts/css/fontastic.css">
    <!-- jQuery Circle-->        
    <link rel="stylesheet" href="~/Administration/assets/charts/css/grasp_mobile_progress_circle-1.0.0.min.css">
    <!-- theme stylesheet-->     
    <link rel="stylesheet" href="~/Administration/assets/charts/css/style.default.css" id="theme-stylesheet">
    <link rel="stylesheet" href="~/Administration/assets/layoutadmin/css/theme.css">
    <link rel="stylesheet" href="~/Administration/assets/layoutadmin/css/style.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<body>
    <input type="hidden" id="user_login" value="@user.Id" />
    <input type="hidden" value="@user.Id" id="user_authenticated" />
    <div class="main">
        <div class="sidebar">
            <div class="sidebar-logo">
                <div class="logo">
                    <a href="#">
                        <img src="~/Administration/assets/layoutadmin/img/logoadmin.png" alt="Cool Admin" />
                    </a>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li>
                    <a asp-action="Index" asp-controller="Home" class="@(ViewBag.Active==0?"active":"")">
                        <i class=" fas fa-home">&#xe84f;</i>
                        <span style="margin-left:-6px;">Trang chủ</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="User" class="@(ViewBag.Active==1?"active":"")">
                        <i class="fas fa-user">&#xe84e;</i>
                        <span>Quản lý người dùng</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Category" class="@(ViewBag.Active==2?"active":"")">
                        <i class=" fas fa-align-justify">&#xe003;</i>
                        <span>Quản lý thể loại</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Video" class="@(ViewBag.Active==5?"active":"")">
                        <i style="font-size:34px;" class="zmdi zmdi-videocam"></i>
                        <span style="margin-left:18px;">Quản lý Video</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Role" class="@(ViewBag.Active==3?"active":"")">
                        <i class=" fas fa-users">&#xe003;</i>
                        <span style="margin-left:-9px;">Quản lý Vai trò</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="ReportVideo" class="@(ViewBag.Active==4?"active":"")">
                        <i class=" fas fa-flag">&#xe003;</i>
                        <span style="margin-left:-4px;">Quản lý báo cáo</span>
                    </a>
                </li>

                <li class="sidebar-submenu">
                    <a href="#" class="sidebar-menu-dropdown">
                        <i class="zmdi zmdi-more" style="font-size:35px; margin-right:33px;"></i>
                        <span>Tính năng khác</span>
                        <div class="dropdown-icon"></div>
                    </a>
                    <ul class="sidebar-menu sidebar-menu-dropdown-content">
                        <li>
                            <a asp-action="Register" asp-controller="Home" class="@(ViewBag.Active==5?"active":"")">
                                Đăng ký
                            </a>
                        </li>
                        <li>
                            <a asp-action="ForgotPassword" asp-controller="Home">
                                Quên mật khẩu
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="main-header">
            <div class="main-title">
                <input type="search" id="searchAll" name="name" placeholder="Nhập từ khoá tìm kiếm tại  đây............." />
                <button class="searchAll"><i class="zmdi zmdi-search"></i></button>
            </div>
            <div class="main__account">
                <div class="header-button">
                    <div class="noti-wrap">
                        <div class="noti__item js-item-menu message">
                            <i class="zmdi zmdi-comment-more"></i>
                            <span class="quantity message__count">0</span>
                        </div>
                    </div>
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image">
                                <img src="@(user.LoginExternal ? user.Avartar : "/Client/avartar/" + user.Avartar)" alt="@user.UserName" />
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" href="#">@user.FirtsName @user.LastName</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <img src="@(user.LoginExternal ? user.Avartar : "/Client/avartar/" + user.Avartar)" alt="@user.UserName" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <a href="#">@user.FirtsName @user.LastName</a>
                                        </h5>
                                        <span class="email">@user.Email</span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a asp-action="InforUser" asp-controller="User">
                                            <i class="zmdi zmdi-account"></i> Tài khoản
                                        </a>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a asp-action="Logout" asp-controller="Home">
                                            <i class="zmdi zmdi-power"></i>Đăng xuất
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="main-content">

            @RenderBody()
        </div>

    </div>
    <div class="chatApplication row">
        <div class="col-10">
            <div class="au-card au-card--no-shadow au-card--no-pad m-b-40 au-card--border">
                <div class="au-card-title chatApplication__title" style="padding-bottom: 0; height: 50px;">
                    <div class="bg-overlay bg-overlay--blue chatApplication__title1"></div>
                    <h3 class="chatApplication__title2">
                        <i class="zmdi zmdi-comment-text"></i> Chat
                    </h3>
                    <button class="au-btn-plus chatApplication__title">
                        <i class="zmdi zmdi-plus"></i>
                    </button>
                </div>
                <div class="au-inbox-wrap">
                    <div class="au-chat au-chat--border">
                        <div class="au-chat__content au-chat__content2 js-scrollbar5">
                            <div class="noneMessage">Chưa có cuộc trò chuyện. Chọn một người bạn để trò chuyện ngay</div>
                        </div>
                        <div class="au-message-list">

                        </div>
                        <div class="au-chat-textfield">
                            @if (user != null)
                            {
                                <form data-ajax-begin="clearInput" data-ajax-complete="" data-ajax-failure="alert('Fail')"
                                      data-ajax-success="sendMessage" data-ajax="true" data-ajax-method="POST"
                                      class="au-form-icon" asp-action="Create" asp-controller="Message" asp-area="">
                                    <input type="hidden" name="SenderId" value="@user.Id" />
                                    <input type="hidden" name="ReceiverId" id="ReceiverId" />
                                    <input type="hidden" name="admin" value="true" />
                                    <input type="hidden" name="LoginExternal" value="@(user.LoginExternal?"true":"false")" id="LoginExternal" />
                                    <input type="hidden" name="Avartar" value="@user.Avartar" id="Avartar" />
                                    <input type="hidden" name="UserName" id="UserName" value="@(user.FirtsName+" "+user.LastName)" />
                                    <div class="au-input__parent">
                                        <input id="contentMessage" class="au-input au-input--full au-input--h65" name="Content" type="text" placeholder="Nhập tin nhắn">
                                        <button hidden type="submit" class="au-input-icon btnSubmit-@user.Id">
                                            <i class="zmdi zmdi-mail-send"></i>
                                        </button>
                                    </div>

                                </form>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header modalheaderAll">
                    <h5 class="modal-title" id="mediumModalLabel">Medium Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body contentAll">

                    <p>

                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="overlay"></div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Administration/assets/charts/vendor/chart.js/Chart.min.js"></script>
    <script src="/Administration/assets/charts/js/front.js"></script>
    <script src="~/Administration/assets/layoutadmin/js/app.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalRHandler.js"></script>
    @RenderSection("Scripts", false)
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</body>


</html>