@model IPagedList<Video_vm>
@using X.PagedList;
@{
    int count = 1;
    Layout = null;
}
@foreach (var item in Model)
{
    <div class="container22">
        <a id="movepage_detail-@item.Id" onclick="addWatched(@item.Id)" asp-action="DetailVideo" asp-controller="Home" asp-route-id="@item.Id">
            <div class="container222">
                <video width="261" height="165" onmouseover="viewBefore(@item.Id)" onmouseout="clearBefore(@item.Id)" src="~/Client/video/@item.LinkVideo" title="YouTube video player" class=" nextSecond nextSecond-@item.Id">
                </video>

            </div>

            <div class="container222_end">
                <div class="detail_video">
                    <div class="detail_rights">
                        <span class="detail_right  text-sidebar-item_video">
                            <p class="titleName">@item.Name </p>
                            <img id="addplaylist-@item.Id" onclick="addPlayList(@item.Id)" class="icon-more add_playlist" src="/Client/img/more.png" alt="Alternate Text" />
                        </span>
                        <div class="text_color">@item.FirtsName @item.LastName</div>
                        <div class="text_color_check">
                            @ConvertViewCount.ConvertView(item.ViewCount) lượt xem • @CaculatorHours.Caculator(item.CreateDate)
                        </div>

                    </div>

                </div>
            </div>
        </a>

        <div class="playlist_option playlist-@item.Id">
            <div class="option_playlist hover into_playlist-@item.Id" onclick="showPlayList(@item.Id)">
                <i class="fa fa-list-alt"></i> Thêm vào danh sách phát
            </div>
            <div class="option_playlist hover report_video" onclick="reportVideo(@item.Id)">
                <i class="fa fa-flag"></i> Báo cáo vi phạm
            </div>
        </div>
    </div>
    if (count > 4)
    {
        count = 1;
        <br />
}
}