@model Video
@{
    Layout = null;

}
<div class="mainDetail">
    <div class="mainDetail__left col-lg-5">
        <video controls="controls">
            <source src="/Client/video/@Model.LinkVideo" type="video/mp4" />
        </video>
        <div class="right__nameVideo">
            <div class="right__nameVideo__name">Tên video</div>
            <div class="right__content">@Model.Name</div>
        </div>
    </div>
    <div class="mainDetail__right col-lg-7">
        <div class="right__createdate">
            <div class="col-3 border__right" style="padding:0px;">
                <div class="right__nameVideo__name">Ngày tạo</div>
                <div class="right__content">@Model.CreateDate.Split(' ')[0]</div>
            </div>
            <div class="col-3 border__right">
                <div class="right__nameVideo__name">Lượt xem</div>
                <div class="right__content">@Model.ViewCount</div>
            </div>
            <div class="col-3 border__right">
                <div class="right__nameVideo__name">Lượt Like</div>
                <div class="right__content">@Model.Like</div>
            </div>
            <div class="col-4">
                <div class="right__nameVideo__name"> Lượt Dislike</div>
                <div class="right__content">@Model.ViewCount</div>
            </div>
        </div>
        <hr />
        <div class="right__poster">
            <div class="right__nameVideo__name">Poster video</div>
            <div class="right__content right__poster__content"><img src="/Client/imgPoster/@Model.PosterImg" alt="Alternate Text" /></div>
        </div>
        <hr />
        <div class="right__description">
            <div class="right__nameVideo__name">Mô tả</div>
            <textarea readonly class="right__description--text right__content">
                    @("\r\n"+Model.Description)
                </textarea>
        </div>
    </div>

</div>
