@model IEnumerable<Function>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administration/Views/shared/_LayoutAdmin.cshtml";
}
<style>
    #name{
        width:800px;
    }
</style>
<div class="filter">
    <div class="title-filter">Tìm kiếm</div>
    <div class="btn-filter d-flex justify-content-between" style="padding: 0px 11px 10px 10px">
        <div class="col">
            <input  id="name" placeholder="Nhập tên đầy đủ" type="text" name="name"
                   class="form-control d-inline rounded-0 ">
            <button class="btn btn-search text-white rounded-0 p-0 text-left col-2" id="">
                <img class="icon-search" alt="" src="~/Administration/assets/img/Search.svg">
                <span class="header-text-site-layout">TÌM KIẾM</span>
            </button>
            <button class="btn btn-reset" style="padding-left: 0.5rem">
                <img class="icon-reset" alt="" src="~/Administration/assets/img/Reset.svg">
            </button>
        </div>
        <div class="">
            <button type="button" class="btn btn-add text-white rounded-0 p-0 text-left" id="showCreate">
                <img class="icon-add" alt="" src="~/Administration/assets/img/ic_add.svg">
                <span class="header-text-site-layout">THÊM MỚI</span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <h1 class="col-10">Quản lý chức năng </h1>
    <h6 class="col-2 text-danger">@(ViewBag.Error==null?"":ViewBag.Error)</h6>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(item.Status?"Hoạt động":"Không hoạt động")
            </td>
            <td class="function_meeting">
                <div class="functions_meeting__mes" onclick="editFunction(@item.Id)">

                    <a class="functions_meeting__mes__btn" >
                        <i class="fa fa-edit"></i>
                    </a>

                </div>
                <div class="functions_meeting__mes" onclick="deleteFunction(@item.Id)">
                    <a class="functions_meeting__mes__btns" id="Delete" >
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{ 
    <script>
        $("#showCreate").click(function () {
            OpenPopUp("Thêm chức năng", "/Administration/Function/Create");
        });
        function editFunction(id) {
            OpenPopUp("Cập nhật chức năng", "/Administration/Function/Edit/?id=" + id);
        }
        function deleteFunction(id) {
            var isDelete = confirm("Bạn có chắc muốn xóa phần tử này");
            if (isDelete) {
            $.get("/Administration/Function/Delete/?id=" + id, function (respone) {
                if (respone == "Success")
                    console.log("success");
                location.reload();
                });
            }
        }
    </script>
} 

