@{ 
    var user = UserAuthenticated.GetUser(User.Identity.Name);
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quản lý Video</title>
    <link href="~/Client/fonts/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Client/css/style.css">
    <link href="~/css/alert_css.css" rel="stylesheet" />
    <link href="~/css/toastifier.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <style>
        .chatApplication {
            position: absolute;
            margin-top: -539px;
            width: 355px;
            margin-left: 74% !important;
            display: none;
        }
    </style>
</head>
<body>
    <div class="warpper">
        <div class="header">
            <div class="container-header">
                <div class="menu">
                    <div class="click_menu hover">
                        <a href="/"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="logo"></div>
                <form asp-action="SearchVideo" asp-controller="Home" method="post" id="formSearchVideo">
                    <input id="nameSearch" name="nameSearch" placeholder="Tìm Kiếm" type="text" class="search" value="@ViewBag.nameSearch">
                    <button type="button" title="Tìm kiếm giọng nói" class="search_Voice"> <i class="fas fa-microphone" id="i_searchVoice"></i></button>
                    <div class="searchs">
                        <button type="submit" title="Tìm kiếm" class="search_sokiuty_img"><i class=" fas fa-search"></i></button>
                    </div>
                </form>


                <div class="khoangcach"></div>
                <div class="loginUser">
                    @{
                        var userId = 0;

                        if (User.Identity.IsAuthenticated && user != null)
                        {
                            userId = user.Id;
                            <input type="hidden" value="@user.Id" id="user_authenticated" />
                            <div id="completed_Login">
                                <div class="message hover">
                                    <i class="fa fa-comments"></i>
                                    <span class="message__count">0</span>
                                </div>
                                <a asp-action="MyChannel" asp-controller="Video" class="move_page">
                                    <div class="create click_create">
                                        <i class="material-icons">&#xe070;</i>
                                    </div>
                                </a>

                                <div class="notification">
                                    <div class="notificationss hover"><i class="zmdi zmdi-notifications"></i></div>
                                    <div class="thongbao_do">
                                        <div class="thong_baos">
                                            <div class="soluongtb">@ViewBag.CountNotifi</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account_information">
                                    <div class="account_informationss" data-toggle="modal" data-target="#leave_the_check_avarta"><img class="hover" src="@(user.LoginExternal ? user.Avartar : "/Client/avartar/" + user.Avartar)" alt="Alternate Text" /></div>
                                </div>
                            </div>
                            @* Modal menu logout*@
                            <div class="modal" id="leave_the_check_avarta">
                                <div class="modal-dialog_es">
                                    <div class="modal-content_es">
                                        <div class="modal_check_fier_all">
                                            <div class="modal_check__fier__all">
                                                <div class="avartar_fier_left">
                                                    <img class="hover" src="@(user.LoginExternal ? user.Avartar : "/Client/avartar/" + user.Avartar)" alt="Alternate Text" />
                                                </div>
                                                <div class="avartar_fier_right">
                                                    <div class="name__avartar_fier_right">@(user.FirtsName + " " + user.LastName)</div>
                                                    <div class="email__avartar_fier_right">@(user.Email)</div>
                                                </div>
                                            </div>
                                            <div class="ke_ngang_fier"></div>
                                            <a asp-action="MyPage" asp-controller="Video">
                                                <div class="modal_check_function_fier">
                                                    <div class="modal_check_function_fier_left">
                                                        <div class="khung_function_fier_img">
                                                            <div class="img_kenhdangky"><i class="zmdi zmdi-account-box fontsize"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="modal_check_function_fier_right">
                                                        <div class="text_modal_check_function_fier">Kênh của bạn</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="modal_check_function_fier">
                                                <div class="modal_check_function_fier_left">
                                                    <div class="khung_function_fier_img">
                                                        <div class="img_Logout"><i class="zmdi  zmdi-power fontsize"></i></div>
                                                    </div>
                                                </div>

                                                <div class="modal_check_function_fier_right">
                                                    <a class="move_page" asp-action="Logout" asp-controller="Home">
                                                        <div class="text_modal_check_function_fier ">Đăng xuất</div>
                                                    </a>
                                                </div>


                                            </div>
                                            <div class="ke_ngang_fier"></div>
                                            
                                            @if (user.Id != 36)
                                            {
                                                <div class="modal_check_function_fier hover" onclick="contactUser(@user.Id,36)">
                                                    <div class="modal_check_function_fier_left">
                                                        <div class="khung_function_fier_img">
                                                            <div class="img_kenhdangky"><i class="zmdi zmdi-help fontsize"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="modal_check_function_fier_right">
                                                        <div class="text_modal_check_function_fier">Liên hệ Admin</div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div id="no_Login" class="list_dangnhap_header" data-toggle="modal" data-target="#leave_the_room">
                                <a asp-action="Login" asp-controller="Home">
                                    <div class="list_dangnhap_left">
                                        <div class="img_list_dangnhap"></div>
                                    </div>
                                    <div class="list_dangnhap_right">ĐĂNG NHẬP</div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="thongbao_all">
            <div class="name_ten_thongbao">Thông báo</div>
            <div class="kengang_thong_bao"></div>

            <div class="content_notifi-@userId">
                <div class="tong_khungss_thongbao_all">
                    @if (ViewBag.ListNotification == null || ViewBag.ListNotification.Count == 0)
                    {
                        <div class="khung_thongbao_video">
                            <img class="none_notifi" src="/Client/img/No__Notification.PNG" alt="Alternate Text" />
                        </div>
                    }
                    else
                    {
                        @foreach (var item in ViewBag.ListNotification)
                        {
                            <div class="item_notifi-@item.Id">
                                <input type="hidden" class="getIdNotifi" value="@item.Id" />
                                <input type="hidden" class="userid-@item.Id" value="@item.UserId" />
                                <div class="khung_thongbao_video">
                                    <a class="link_detail-@item.Id linkDetail" asp-action="DetailVideo" asp-controller="Home" asp-route-id="@item.VideoId">
                                        <div class="khung_thongbao_video_left_daucham">
                                            @if (item.Watched)
                                            {
                                                <div class="nowatched"></div>
                                            }
                                            else
                                            {
                                                <div class="watched"></div>
                                            }
                                        </div>
                                        <div class="khung_thongbao_video_img">
                                            @if (item.AvartarUser == "avartarDefault.jpg")
                                            {
                                                <img class="img_trang__cuaban_thongbao" alt="" src="/Client/avartar/@item.AvartarUser">
                                            }
                                            else
                                            {
                                                <img class="img_trang__cuaban_thongbao" alt="" src="@(item.LoginExternal?item.AvartarUser:"/Client/avartar/"+item.AvartarUser)">
                                            }

                                        </div>
                                        <div class="noidung_khungthongbaovideo_text">
                                            <div class="noidung_khungthongbao_video__text"><strong>@item.UserName</strong> @item.Content</div>
                                            <div class="thoigian_daguithongbao">@CaculatorHours.Caculator(item.CreateDate)</div>
                                        </div>
                                        <div class="img_thongbaovideocuado">
                                            <div class="img_thongbaovideocuado_video">
                                                <img src="/Client/imgPoster/@item.PoterImg" alt="" class="img_thong_bao_videocuado_video">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="daubacham_anthongbao hover" onclick="optionNotifi(event,@item.Id)">
                                        <div class=" hover daubacham_anthongbao_video">
                                            <img src="/Client/img/more.png" alt="" class="show_daubacham_anthongbao_video more-@item.Id">
                                        </div>
                                    </div>
                                    <div class="an_thongbaonay_all hover option_notifi-@item.Id">
                                        <div class="kekhungheader"></div>
                                        <div class=" hover class_nameimg_anthongbao">
                                            <div class="khung_img_class_nameimg_anthongbo">
                                                <div class="img_class_nameimg_anthongbo">
                                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div onclick="revertStatus(event,@item.Id)" class="noidung_class_nameimg_anthongbao">Ẩn thông báo này</div>
                                        </div>
                                        @if (item.AvartarUser != "avartarDefault.jpg")
                                        {
                                            <div class=" hover class_nameimg_anthongbao">
                                                <div class="khung_img_class_nameimg_anthongbo">
                                                    <div class="img_offthongbao">
                                                        <i class="fa fa-bell-slash" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div onclick="revertFollow(event,@item.Id)" class="noidung_class_nameimg_anthongbao">Tắt thông báo từ kênh </div>

                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>

        <div class="row fixed_menu">
            <nav class="col strong_headers">

                <li>
                    <div class="all_img_trangcuaban">
                        <div class="khung_imges_trangchu">
                            <img class="img_trang__cuaban" alt="" src="@(user.LoginExternal ? user.Avartar : "/Client/avartar/" + user.Avartar)">
                            <div class="tieudekenh_cuaban">Kênh của bạn</div>
                            <div class="name_kenh_cuaban">@user.FirtsName @user.LastName</div>
                        </div>
                    </div>
                </li>
                <li class="text-white sidebar-item sidebar-menu">
                    <a asp-action="Index" asp-controller="Home" style="text-decoration: none;">
                        <div class="row parent__iconzmdi">
                            <i class="zmdi zmdi-home iconZmdi"></i>
                            <span class="text-sidebar-item">Về trang chủ</span>
                        </div>
                    </a>
                </li>
                <li class="text-white sidebar-item sidebar-menu @(ViewBag.ForCus==1?"forcus__item":"")">
                    <a asp-action="OverviewPage" asp-controller="Video" style="text-decoration: none;">
                        <div class="row parent__iconzmdi">
                            <i class="zmdi zmdi-view-dashboard iconZmdi"></i>
                            <span class="text-sidebar-item">Trang tổng quan</span>
                        </div>
                    </a>
                </li>
                <li class="text-white sidebar-item sidebar-menu @(ViewBag.ForCus==0?"forcus__item":"")">
                    <a asp-action="MyChannel" asp-controller="Video" style="text-decoration: none;">
                        <div class="row parent__iconzmdi">
                            <i class="zmdi zmdi-view-subtitles iconZmdi"></i>
                            <span class="text-sidebar-item">Nội dung</span>
                        </div>
                    </a>
                </li>
                <li class="text-white sidebar-item sidebar-menu @(ViewBag.ForCus==2?"forcus__item":"")">
                    <a asp-action="MyPlayList" asp-controller="Video" style="text-decoration: none;">
                        <div class="row parent__iconzmdi">
                            <i class="zmdi zmdi-collection-case-play iconZmdi"></i>
                            <span class="text-sidebar-item">Danh sách phát</span>
                        </div>
                    </a>
                </li>

            </nav>
            <div class="col site-layout">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="chatApplication row">
        <div class="col-12">
            <div class="au-card au-card--no-shadow au-card--no-pad m-b-40 au-card--border">
                <div class="au-card-title chatApplication__title" style="padding-bottom: 0; height: 50px;">
                    <div class="bg-overlay bg-overlay--blue chatApplication__title1"></div>
                    <h3 class="chatApplication__title2">
                        <i class="fa fa-comments"></i> Trò chuyện
                    </h3>
                    <button class="au-btn-plus chatApplication__title">
                        <i class="zmdi zmdi-plus"></i>
                    </button>
                </div>
                <div class="au-inbox-wrap">
                    <div class="au-chat au-chat--border">
                        <div class="au-chat__content au-chat__content2 js-scrollbar5">
                            <div class="noneMessage">Chưa có cuộc trò chuyện. Chọn một người bạn để trò chuyện ngay</div>
                        </div>
                        <div class="au-message-list">

                        </div>
                        <div class="au-chat-textfield">
                            @if (user != null)
                            {
                                <form data-ajax-begin="clearInput" data-ajax-complete="" data-ajax-failure="alert('Fail')"
                                      data-ajax-success="sendMessage" data-ajax="true" data-ajax-method="POST"
                                      class="au-form-icon" asp-action="Create" asp-controller="Message">
                                    <input type="hidden" name="SenderId" value="@user.Id" />
                                    <input type="hidden" name="ReceiverId" id="ReceiverId" />
                                    <input type="hidden" name="admin" value="false" />
                                    <input type="hidden" name="LoginExternal" value="@(user.LoginExternal?"true":"false")" id="LoginExternal" />
                                    <input type="hidden" name="Avartar" value="@user.Avartar" id="Avartar" />
                                    <input type="hidden" name="UserName" id="UserName" value="@(user.FirtsName+" "+user.LastName)" />
                                    <div class="au-input__parent">
                                        <input id="contentMessage" class="au-input au-input--full au-input--h65" name="Content" type="text" placeholder="Nhập tin nhắn">
                                        <button hidden type="submit" class="au-input-icon btnSubmit-@user.Id">
                                            <i class="zmdi zmdi-mail-send"></i>
                                        </button>
                                    </div>

                                </form>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal show danh sách phát-->
    <div class="modal" id="modalShowPlayList" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="body__search">
                        <i class="fas fa-search"></i>
                        <input placeholder="Tìm trên kênh của bạn" id="timkiem__video" type="search" class="name__Create searchAllList" value="" />
                    </div>
                    <hr style="margin-top:35px;" />
                    <div>Tất cả video</div>
                    <hr />
                    <div class="tbodyOfPlayList">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Kết thúc-->
    <script src="~/js/webcam.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalRHandler.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Client/js/site.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>
